

<% @result["items"].each do |article| %>
  <ul class="article">
    <li><%= @index += 1 %>. </li>
    <li><a href="<%= article["url"] %>"><%= article["title"] %> </a></li>
    <li><%=strip_url(article["url"]) %></li>
  </ul>
  <ul class="article-subtitle">
    <li><%= article["points"] %> points</li>
    <li>by <%= article["postedBy"] %></li>
    <li><%= article["postedAgo"] %></li>
    <li>| <%= article["commentCount"] %> comments</li>
  </ul>
<% end %>

<% @new_info["items"].each do |article| %>
  <ul class="article">
    <li><%= @index += 1 %>. </li>
    <li><a href="http://<%= article["url"] %>"><%= article["title"] %></a></li>
    <li><%= strip_url(article["url"]) %></li>
  </ul>
    <ul class="article-subtitle">
    <li><%= 0 %> points</li>
    <li>by Smoozby</li>
    <li><%= article["postedAgo"] %></li>
    <li> <%= 0 %> comments</li>
  </ul>
<% end %>
